@import url(bootstrap/bootstrap-5.2.2-dist/css/bootstrap.min.css);
@import url(bootstrap/bootstrap-icons-1.10.3/bootstrap-icons.css);

@font-face {
    font-family: Nunito;
    src: url(res/Nunito/static/Nunito-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url(res/Nunito/static/Nunito-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    color: #323232;
    background-color: #EAE7DD;
}

.section-header {
    color: white;
    background-color: #99775C;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.section-body {
    background-color: #00000019;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile-pic {
    display: block;
    margin: auto;
    border-radius: 5px;
}

.icon {
    display: block;
    color: #323232;
    font-size: 24px;
    transition: 0.2s;
}

.icon:hover {
    color: #99775C;
    transform: translateY(-1px);
    text-shadow: 2px 2px 4px #0000006d;
    transition: 0.2s;
}