@import url(bootstrap/bootstrap-5.2.3-dist/css/bootstrap.css);
@import url(bootstrap/bootstrap-icons-1.10.3/bootstrap-icons.css);

@font-face {
    font-family: Nunito;
    src: url(res/Nunito/static/Nunito-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url(res/Nunito/static/Nunito-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    color: #323232;
    background-color: #EAE7DD;
}

.profile-pic {
    display: block;
    margin: auto;
    border-radius: 5px;
}

.icon {
    display: block;
    color: #323232;
    font-size: 24px;
    transition: 0.2s;
}

.icon:hover {
    color: #99775C;
    transform: translateY(-1px);
    text-shadow: 2px 2px 4px #0000006d;
    transition: 0.2s;
}

.card {
    --bs-card-cap-bg: #99775C;
    --bs-card-cap-color: white;
    --bs-card-bg: #00000019;
    --bs-card-border-radius: 15px;
    --bs-card-inner-border-radius: 15px;
    --bs-card-border-width: 0px;
}
